<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Notre équipe</h1>
      <p class="text-center">Découvrez les personnes talentueuses qui travaillent dur pour vous offrir le meilleur service possible.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="team-member text-center">
        <img src="https://via.placeholder.com/300x300" alt="Nom de la personne" class="img-fluid rounded-circle">
        <h3>Moi</h3>
        <p>Titre du poste</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna a fringilla condimentum, felis magna aliquam ante, a rhoncus nisi elit eget velit.</p>
        <ul class="social-links list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="team-member text-center">
        <img src="https://via.placeholder.com/300x300" alt="Nom de la personne" class="img-fluid rounded-circle">
        <h3>Moi</h3>
        <p>Titre du poste</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna a fringilla condimentum, felis magna aliquam ante, a rhoncus nisi elit eget velit.</p>
        <ul class="social-links list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="team-member text-center">
        <img src="https://via.placeholder.com/300x300" alt="Nom de la personne" class="img-fluid rounded-circle">
        <h3>Moie</h3>
        <p>Titre du poste</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna a fringilla condimentum, felis magna aliquam ante, a rhoncus nisi elit eget velit.</p>
        <ul class="social-links list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
