/* Styles pour la page de contact */
.form-control {
    border-radius: 0;
    border-color: #660066;
  }
  
  .btn-primary {
    background-color: #660066;
    border-color: #660066;
  }
  
  .btn-primary:hover {
    background-color: #530053;
    border-color: #530053;
  }
  