/* Styles pour la page d'index */
body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #660066 !important;
}

.nav-link a{
  color: #fff;
} 

.nav-link a:hover{
color : black;
}

.page-title {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #660066;
  text-shadow: 2px 2px #fff;
}

/* Styles pour les cartes horizontales de Bootstrap */
.gossip-card {
  margin-bottom: 30px;
  height: auto;
  background-color: #333;
  color: #fff;
  transition: all 0.3s ease;
}

.gossip-card:hover {
  background-color: #660066;
  transform: scale(1.05);
}

.card-title a {
  color: #fff;
  text-decoration: none;
}

.card-title a:hover {
  color: #fff;
  text-decoration: underline;
}

.card-text {
  margin-bottom: 0;
}


/* Styles pour la page show */
.table {
  margin-top: 30px;
}

.table th {
  background-color: #660066;
  color: #fff;
}

.table td {
  vertical-align: top;
}

.table td:first-child {
  font-weight: bold;
}

.btn-primary {
  background-color: #660066;
  border-color: #660066;
}

.btn-primary:hover {
  background-color: #530053;
  border-color: #530053;
}